.piePag {
  background-color: brown;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 3%;
  height: 80px;
  color: white;
  text-align: center;
}
u{
  background-color: rgb(23, 153, 6);
  bottom: 0;
  width: max-content;
  padding-left: 25%;
  padding-right: 31%;
  padding-top: 5%;
  padding-bottom: 3%;
  height: 80px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20pt;
  
}
