.piePag {
  background-color: brown;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 3%;
  height: 80px;
  color: white;
  text-align: center;
}
body{
  background-image: url(../imagen/basquetBack.jpg);
  background-size: contain;
}
u {
  background-color: rgb(180, 54, 38);
  bottom: 0;
  width: max-content;
  padding-left: 25%;
  padding-right: 31%;
  padding-top: 5%;
  padding-bottom: 3%;
  height: 80px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20pt;
}
ul, li{
  text-decoration: none;
  list-style-type: none;
}
h1{
  font-size: 50px;
  color: rgba(116, 27, 27, 0.788);
  text-align: center;
  text-transform: uppercase;
}
p{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.adminLeague {
  background-color: rgba(126, 27, 27, 0.74);
  padding: 0%;
  height: 60px;
  color: white;
  text-align: center;
  font-size: 45px;
}
.ModifyTeams {
  background-color: rgba(173, 38, 20, 0.651);
  padding: 0%;
  height: 60px;
  color: white;
  text-align: center;
  font-size: 45px;
}
.sucess {
  background-color: rgb(29, 112, 12);
  padding: 0%;
  height: 60px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
}
.error {
  background-color: rgb(184, 4, 4);
  padding: 0%;
  height: 60px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
}
.navbar-text {
  color: red;
}
.nav-link:hover,
.navbar-brand:hover {
  background-color: rgba(221, 120, 62, 0.514);
}
